## toplulaştırma 

* count()
* first()
* last()
* mean()
* median()
* min()
* max()
* std()
* var()
* sum()

* describe()

* .T
* dropna

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=sns.load_dataset("planets") #bir data set ekledik

In [3]:
df #yazdıralım dedik ama çok uzun

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [6]:
df.head(6)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
5  Radial Velocity       1         185.840   4.80     76.39  2008

In [7]:
df.count() #yüm değişken için ayrı ayrı toplayıp yazdırdı. mesala biz bunu bi değişke özelinde de yapabiliriz.

method            1035
number            1035
orbital_period     992
mass               513
distance           808
year              1035
dtype: int64

In [13]:
df["method"].count()

1035

In [17]:
df["year"].max()

2014

In [19]:
df["distance"].mean()# boyle tek tek yazdırmamak için onemli olan hesaplamaları bize toplu olarak vren describe fonk kullanılır

264.06928217821786

In [20]:
df.describe() #tüm değişken için belirli heasplama fonk sonuçları

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [24]:
df.describe().T #tranpoze sini al abiliriz aynı toblo sutun satır, satır sutun yapılsı :))

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [26]:
df.dropna().describe() #veri setindeki eksik değerleri göz ardı ederek yapılan hesaplamalar içim dropna kullanılır.

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [22]:
df["mass"].describe() #tek bir değişken özelinde

count    513.000000
mean       2.638161
std        3.818617
min        0.003600
25%        0.229000
50%        1.260000
75%        3.040000
max       25.000000
Name: mass, dtype: float64

In [23]:
df["mass"].mean()+df["year"].std()

6.6107274419975335

In [29]:
df["mass"]

0        7.10
1        2.21
2        2.60
3       19.40
4       10.50
        ...
1030      NaN
1031      NaN
1032      NaN
1033      NaN
1034      NaN
Name: mass, Length: 1035, dtype: float64

In [30]:
df["mass"].dropna()#mesala length değeri 1035 ten 513 e düştü 422 gözlem(satır) eksik miş :))

0       7.100
1       2.210
2       2.600
3      19.400
4      10.500
        ...
784     0.947
913    19.800
914     0.340
915     0.400
916     1.540
Name: mass, Length: 513, dtype: float64