In [1]:
import numpy as np
import pandas as pd

In [3]:
m=np.arange(1,21,1).reshape(5,4)
m=pd.DataFrame(m)
m.columns=["v1","v2","v3","v4"]
m

   v1  v2  v3  v4
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20

In [7]:
m[(m<12) & (m>3)] #koşul koayabilir ama pyhton daki gibi and ile değil.

    v1    v2    v3   v4
0  NaN   NaN   NaN  4.0
1  5.0   6.0   7.0  8.0
2  9.0  10.0  11.0  NaN
3  NaN   NaN   NaN  NaN
4  NaN   NaN   NaN  NaN