## Data Frame

pandas data frame olu≈üturma. gittik√ße daha kullanƒ±≈ülƒ± ha≈üe geldi. hem row hem column deƒüerlerini deƒüi≈ütirebiliyoruz

DataFrane(name) fonksiyonuyla pandas array/matris'i de data frame e d√∂n√º≈üt√ºrebilirisn. yine value, index, size vb fonksiyonlar mevcut

dataFrame(name,index=[],column=[]) diyerek column ve row isimlerinin deƒüi≈ütirebilirsin yada name.index yada name.column diyerekte deƒüi≈ütirebilirsin

ayrƒ±ca value fonksiyonu bildiƒüin gibi key deƒüerleri olmadan sadece deƒüerleri yazdƒ±rmak i√ßin kullanƒ±lƒ±r. ancak name.value dediƒünde numpay array 

olarak yazdƒ±rrƒ± ona d√∂n√º≈üt√ºr√ºr yani. axes fonksiyonuna gelicede colum ve index deƒüerlerini ayrƒ± ayrƒ± yazdƒ±rr. key deƒüerleri yazdƒ±rƒ±lƒ±r

In [2]:
import pandas as pd
import numpy as np

In [4]:
m=np.arange(1,10).reshape(3,3)
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
pd.DataFrame(m,columns=["bir","iki","√º√ß"],index=["row1","row2","row3"])

      bir  iki  √º√ß
row1    1    2   3
row2    4    5   6
row3    7    8   9

In [8]:
oop=[[True,False,False],[True,True,False],[True,True,True]]
table=pd.DataFrame(oop,columns=["class","package","world"],index=["private","protected","public"])
table #üòÅ

           class  package  world
private     True    False  False
protected   True     True  False
public      True     True   True

In [9]:
table.columns

Index(['class', 'package', 'world'], dtype='object')

In [10]:
table.columns=["c","p","w"]
table

              c      p      w
private    True  False  False
protected  True   True  False
public     True   True   True

In [11]:
table.index

Index(['private', 'protected', 'public'], dtype='object')

In [12]:
table.axes

[Index(['private', 'protected', 'public'], dtype='object'),
 Index(['c', 'p', 'w'], dtype='object')]

In [13]:
table.ndim

2

In [14]:
table.shape

(3, 3)

In [15]:
type(table)

pandas.core.frame.DataFrame

In [16]:
table.size

9

In [17]:
table.values

array([[ True, False, False],
       [ True,  True, False],
       [ True,  True,  True]])

In [19]:
type(table.values) #dikkat edelim boyle sadece deƒüerleri √ßektiƒüimizde numpa array a d√∂n√ºyor

numpy.ndarray

In [21]:
table.head()#head in i√ßi bo≈ü tamamƒ±nƒ± yazdƒ±rƒ±r

              c      p      w
private    True  False  False
protected  True   True  False
public     True   True   True

In [22]:
table.tail(1)

           c     p     w
public  True  True  True

In [26]:
a=np.arange(1,10)
fr=pd.DataFrame(a)
fr

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [27]:
a.shape # frame tek boyutluda olur yani sorun yok :))

(9,)