In [5]:
import pandas as pd
import numpy as np

In [6]:
a=pd.DataFrame({"a":[100,200,300,400],
                "b":[300,234,23,56],
                "c":[45,34,678,34],
                "gruplar":["var1","var2","var1","var2"]},columns=["gruplar", "a","b","c"])
a

  gruplar    a    b    c
0    var1  100  300   45
1    var2  200  234   34
2    var1  300   23  678
3    var2  400   56   34

In [36]:
def sec(x):
    return x["b"].std()<150

In [37]:
a.groupby("gruplar").filter(sec)

  gruplar    a    b   c
1    var2  200  234  34
3    var2  400   56  34

In [27]:
a.groupby("gruplar").std()

                  a           b           c
gruplar
var1     141.421356  195.868578  447.598592
var2     141.421356  125.865007    0.000000