In [1]:
import pandas as pd
import seaborn as sns
data=sns.load_dataset("diamonds")

In [3]:
df=data.copy()
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [5]:
df.describe() #describe dediğimizde sadee sürekli deişkenlerle ilgili bilgilere ulaşırız

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [6]:
df["color"].value_counts() #bu sınıf sayma frekansa ulaşma muhabbetini katogorik ddeğişkenler için kullanırız

G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: color, dtype: int64

In [7]:
df_ctg=df.select_dtypes(include=["category"])

In [10]:
print(df_ctg["color"].value_counts().count())
print(df_ctg["cut"].value_counts().count())
print(df_ctg["clarity"].value_counts().count())
print(df_ctg.value_counts())

7
5
8
cut    color  clarity
Ideal  E      VS2        1136
       G      VS1         953
       D      VS2         920
       G      VS2         910
       F      VS2         879
                         ...
Fair   I      VVS1          1
       J      VVS1          1
              VVS2          1
Good   J      VVS1          1
Fair   H      VVS1          1
Length: 276, dtype: int64

## burada kullandığımız katagorik değişkenler nominalm değil ordinal 

bu yüzden burada onları ordinal tanımlayacağız

In [11]:
from pandas.api.types import CategoricalDtype

In [12]:
df.cut.head()

0      Ideal
1    Premium
2       Good
3    Premium
4       Good
Name: cut, dtype: category
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [15]:
df.cut=df.cut.astype(CategoricalDtype(ordered=True))
df.cut.head(1)

0    Ideal
Name: cut, dtype: category
Categories (5, object): ['Ideal' < 'Premium' < 'Very Good' < 'Good' < 'Fair']

görüldüğü üzere bir sıralam yaptı ancak yapılan sıralama doğru değil.

In [16]:
cut_ctg=["Fair","Good","Very Good","Premium","Ideal"]

In [17]:
df.cut=df.cut.astype(CategoricalDtype(categories=cut_ctg,ordered=True))

In [19]:
df.cut.head(5)

0      Ideal
1    Premium
2       Good
3    Premium
4       Good
Name: cut, dtype: category
Categories (5, object): ['Fair' < 'Good' < 'Very Good' < 'Premium' < 'Ideal']