In [1]:
import pandas as pd

In [4]:
m=pd.DataFrame({"şehir":["manisa","ankara","ığdır"],
                "araç":["tren","araba","bisiklet"],
                "renk":["kırmızı","mavi","beyaz"]})
m

    şehir      araç     renk
0  manisa      tren  kırmızı
1  ankara     araba     mavi
2   ığdır  bisiklet    beyaz

In [7]:
n=pd.DataFrame({"araç":["tren","araba","bisiklet"], 
                "yaş":[50,36,18],
                "renk":["kırmızı","kırmızı","beyaz"]})
n

       araç  yaş     renk
0      tren   50  kırmızı
1     araba   36  kırmızı
2  bisiklet   18    beyaz

In [11]:
pd.merge(m,n)

    şehir      araç     renk  yaş
0  manisa      tren  kırmızı   50
1   ığdır  bisiklet    beyaz   18

In [15]:
m=pd.DataFrame({"şehir":["manisa","ankara","ığdır"],
                "araç":["tren","araba","bisiklet"],
                "renk":["kırmızı","mavi","beyaz"]})
m

    şehir      araç     renk
0  manisa      tren  kırmızı
1  ankara     araba     mavi
2   ığdır  bisiklet    beyaz

In [17]:
n=pd.DataFrame({"araç":["tren","araba","bisiklet","tren"], 
                "yaş":[50,36,18,18],
                "renk":["kırmızı","mavi","beyaz","kırmızı"]})
n

       araç  yaş     renk
0      tren   50  kırmızı
1     araba   36     mavi
2  bisiklet   18    beyaz
3      tren   18  kırmızı

In [18]:
pd.merge(m,n)

    şehir      araç     renk  yaş
0  manisa      tren  kırmızı   50
1  manisa      tren  kırmızı   18
2  ankara     araba     mavi   36
3   ığdır  bisiklet    beyaz   18

In [19]:
m=pd.DataFrame({"şehir":["manisa","ankara","ığdır"],
                "araç":["tren","araba","bisiklet"],
                "renk":["kırmızı","siyah","beyaz"]})
m

    şehir      araç     renk
0  manisa      tren  kırmızı
1  ankara     araba    siyah
2   ığdır  bisiklet    beyaz

In [21]:
pd.merge(m,n)

    şehir      araç     renk  yaş
0  manisa      tren  kırmızı   50
1  manisa      tren  kırmızı   18
2   ığdır  bisiklet    beyaz   18

In [23]:
pd.merge(m,n,on="araç")

    şehir      araç   renk_x  yaş   renk_y
0  manisa      tren  kırmızı   50  kırmızı
1  manisa      tren  kırmızı   18  kırmızı
2  ankara     araba    siyah   36     mavi
3   ığdır  bisiklet    beyaz   18    beyaz