photo_2022-12-12 05.45.03.jpeg

In [1]:
import pandas as pd

In [2]:
x=pd.DataFrame({"şehir":["Ankara","manisa","yozgat"],
                "yıl":[2022,1988,1952],
                "bakkal":(100,57,85)})
x

    şehir   yıl  bakkal
0  Ankara  2022     100
1  manisa  1988      57
2  yozgat  1952      85

In [3]:
y=pd.DataFrame({"bakkal":["erdal bakkal","güneş","elfida"],
                "isim":["erdal","hasan","fidan"]})
y

         bakkal   isim
0  erdal bakkal  erdal
1         güneş  hasan
2        elfida  fidan

In [4]:
z=pd.DataFrame({"şehir":["Ankara","izmir","elazığ","manisa"],
                "nüfüs":[500,370,270,390]})
z

    şehir  nüfüs
0  Ankara    500
1   izmir    370
2  elazığ    270
3  manisa    390

In [7]:
pd.merge(x,y)

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [8]:
pd.concat([x,y])

    şehir     yıl        bakkal   isim
0  Ankara  2022.0           100    NaN
1  manisa  1988.0            57    NaN
2  yozgat  1952.0            85    NaN
0     NaN     NaN  erdal bakkal  erdal
1     NaN     NaN         güneş  hasan
2     NaN     NaN        elfida  fidan

In [9]:
pd.merge(x,z)

    şehir   yıl  bakkal  nüfüs
0  Ankara  2022     100    500
1  manisa  1988      57    390