In [2]:
import pandas as pd
import seaborn as sns
data=sns.load_dataset("planets")
df=data.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
df_num=df.select_dtypes(include=["float64","int64"])
df_num.head()

   number  orbital_period   mass  distance  year
0       1         269.300   7.10     77.40  2006
1       1         874.774   2.21     56.95  2008
2       1         763.000   2.60     19.84  2011
3       1         326.030  19.40    110.62  2007
4       1         516.220  10.50    119.47  2009

In [7]:
df_num.describe() #sürekli değişkenlerde bir özet elde ediyoruz

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [9]:
df_num["mass"].describe() #istersek bu betimsel isttaistikleri tek değişken özelinde de inceleyebiliriz

count    513.000000
mean       2.638161
std        3.818617
min        0.003600
25%        0.229000
50%        1.260000
75%        3.040000
max       25.000000
Name: mass, dtype: float64

istersek bu describe fonksiyonun yaptığını kendimis pandas fonksiyonları kullanarak özelleştirip yapabilirz

In [12]:
print("dolu gözlem sayisi: ",df_num["mass"].count())
print("ortlama: ",df_num["mass"].mean())
print("standar sapma: ",df_num["mass"].std())

dolu gözlem sayisi:  513
ortlama:  2.6381605847953216
standar sapma:  3.8186166509616046

In [13]:
print("minumum değeri: "+str(df_num["mass"].min())) #işte printleme şekilleri :))

inumum değeri: 0.0036

In [15]:
print("min değerler: ",df_num.min()) #özelleştirmezsen tüm değişkenleri yazdırır :))

min değerler:  number               1.000000
orbital_period       0.090706
mass                 0.003600
distance             1.350000
year              1989.000000
dtype: float64