In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame({"gruplar":["a","b","c","a","b","c"],
                "değişken1":[10,23,33,22,11,99],
                "değişken2":[100,253,333,262,111,969]})
df

  gruplar  değişken1  değişken2
0       a         10        100
1       b         23        253
2       c         33        333
3       a         22        262
4       b         11        111
5       c         99        969

In [7]:
df["değişken1"]*10 #böyle yaparız ama daha karmaşık için lambda kullanıcaz

0    100
1    230
2    330
3    220
4    110
5    990
Name: değişken1, dtype: int64

In [32]:
df.iloc[:,1:3].transform(lambda x: (x-x.mean()))

   değişken1  değişken2
0      -23.0     -238.0
1      -10.0      -85.0
2        0.0       -5.0
3      -11.0      -76.0
4      -22.0     -227.0
5       66.0      631.0

In [30]:
df.groupby("gruplar").transform(lambda x:x.mean())

   değişken1  değişken2
0       16.0      181.0
1       17.0      182.0
2       66.0      651.0
3       16.0      181.0
4       17.0      182.0
5       66.0      651.0