In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame({"grup":["a","b","a","b"],
                "var1":[10,20,30,40],
                "var2":[50,60,70,80,]})
df

  grup  var1  var2
0    a    10    50
1    b    20    60
2    a    30    70
3    b    40    80

In [9]:
df.iloc[:,1:].transform(lambda x: x+x.mean())#hocam komple stunun ortalmasını alıyor sonra x değeri ile topluyor

   var1   var2
0  35.0  115.0
1  45.0  125.0
2  55.0  135.0
3  65.0  145.0

In [8]:
df.iloc[:,1:].transform(lambda x: x.mean()-x)

   var1  var2
0  15.0  15.0
1   5.0   5.0
2  -5.0  -5.0
3 -15.0 -15.0

In [10]:
dfG=df.groupby("grup")

In [11]:
dfG.transform(lambda x: x+x.mean())#hocam burada tüm sutunu toplamaz a değerlerini toplar sonra tıttuğu değişken ile toplar :))

   var1   var2
0  30.0  110.0
1  50.0  130.0
2  50.0  130.0
3  70.0  150.0

In [12]:
dfG.transform(lambda x: x.mean()-x)

   var1  var2
0  10.0  10.0
1  10.0  10.0
2 -10.0 -10.0
3 -10.0 -10.0

In [13]:
df

  grup  var1  var2
0    a    10    50
1    b    20    60
2    a    30    70
3    b    40    80