In [14]:
import pandas as pd
import seaborn as sns
planets=sns.load_dataset("planets")
planets.head(10)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
5  Radial Velocity       1         185.840   4.80     76.39  2008
6  Radial Velocity       1        1773.400   4.64     18.15  2002
7  Radial Velocity       1         798.500    NaN     21.41  1996
8  Radial Velocity       1         993.300  10.30     73.10  2008
9  Radial Velocity       2         452.800   1.99     74.79  2010

#### Veri setinin hikayesi nedir?
öncelikle veri setinin hikayesi nedeir. nerden nasıl toplandı. nerede değiştirildi iyi bir şekilde sorgulayıp anlamalıyız.

ilk önce veri setinin copyasını alallım aslını bozmamk için

In [5]:
df=planets.copy()

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
type(planets)

pandas.core.frame.DataFrame

In [8]:
df.tail(10)

       method  number  orbital_period  mass  distance  year
1025  Transit       1        3.067850   NaN      60.0  2012
1026  Transit       1        0.925542   NaN     470.0  2014
1027  Imaging       1             NaN   NaN      19.2  2011
1028  Transit       1        3.352057   NaN    3200.0  2012
1029  Imaging       1             NaN   NaN      10.1  2012
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

#### veri setinin yapısal bilgileir
info fonksiyonu ile eri setşşnin yapısal bilgilerini öğrenebilirz

bir veri setine baktığında data analistin zihninde bir makindeden daha çok fikir oluşur

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [12]:
df.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

görüldüğü üzere obje tipinde eleman var (method değişkeni). bu bize kimi yerlerde sıkıntı çıkartabilir 

mesala bunu catagorical olarak değiştirebiliriz

In [15]:
df.method=pd.Categorical(df.method)

In [16]:
df.dtypes

method            category
number               int64
orbital_period     float64
mass               float64
distance           float64
year                 int64
dtype: object

bu dönüşümü illa yapmak zorunda değilsin de maksat boyle tip dönüşümleri yapabiliyoruz onu bilelim :))