In [1]:
import researchpy as rp
import seaborn as sns
data=sns.load_dataset("tips")
tip=data.copy()
tip.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

şimdiyese bu özeti research kütüp ile yapalım

In [15]:
rp.summary_cont(tip[["total_bill","tip","size"]])

/Users/necmiyesoyla/Library/Python/3.9/lib/python/site-packages/researchpy/summary.py:60: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [16]:
rp.summary_cat(tip[["sex","smoker","day"]])

/Users/necmiyesoyla/Library/Python/3.9/lib/python/site-packages/researchpy/summary.py:225: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

## covaryans hesabı

değişkenelrin ilişkisinin değişimi

In [19]:
tip[["total_bill","tip"]].cov()

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

## koralasyon hesabı

iki değişken arasındaki ilişiki

In [21]:
tip[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000