# Tahmine Dayalı Değer Atama

In [23]:
import pandas as pd
import numpy as np
import missingno as msno
import seaborn as sns
df=sns.load_dataset("titanic")
df=df.select_dtypes(include=["int64","float64"])
print(df.info())
print(df.head())
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   age       714 non-null    float64
 3   sibsp     891 non-null    int64
 4   parch     891 non-null    int64
 5   fare      891 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 41.9 KB
None
   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

### KNN

In [8]:
from ycimpute.imputer import knnimput
#knn en yakın komşuluk algoritması

In [3]:
# knn bizden numpy array bekler bu yüzden değişkenklerin ismini önce bir listede saklıyıcaz sonra data frame mi numpy array a dönüştürücez

In [24]:
vars=list(df)
vars

['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']

In [25]:
df_arr=np.array(df)
df_arr[:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [5]:
df_arr.shape

(891, 6)

In [6]:
dff=knnimput.KNN(k=4).complete(df_arr)
# k komşu  sayısı
# comlete neyi doldulam df_arr diyoruz

Imputing row 1/891 with 0 missing, elapsed time: 0.079
Imputing row 101/891 with 0 missing, elapsed time: 0.079
Imputing row 201/891 with 0 missing, elapsed time: 0.080
Imputing row 301/891 with 1 missing, elapsed time: 0.080
Imputing row 401/891 with 0 missing, elapsed time: 0.080
Imputing row 501/891 with 0 missing, elapsed time: 0.080
Imputing row 601/891 with 0 missing, elapsed time: 0.081
Imputing row 701/891 with 0 missing, elapsed time: 0.081
Imputing row 801/891 with 0 missing, elapsed time: 0.081

In [13]:
type(dff)

numpy.ndarray

In [14]:
df=pd.DataFrame(dff,columns=vars)

In [15]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df.head()

   survived  pclass   age  sibsp  parch     fare
0       0.0     3.0  22.0    1.0    0.0   7.2500
1       1.0     1.0  38.0    1.0    0.0  71.2833
2       1.0     3.0  26.0    0.0    0.0   7.9250
3       1.0     1.0  35.0    1.0    0.0  53.1000
4       0.0     3.0  35.0    0.0    0.0   8.0500

In [18]:
df.isnull().sum()#eksik değer kaldı. tamami knn algoritması ile dolduruldu

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

### random forests

In [11]:
from ycimpute.imputer import iterforest

In [12]:
dff=iterforest.IterImput().complete(df_arr)

In [13]:
df=pd.DataFrame(dff,columns=vars)

In [16]:
df.head()

   survived  pclass   age  sibsp  parch     fare
0       0.0     3.0  22.0    1.0    0.0   7.2500
1       1.0     1.0  38.0    1.0    0.0  71.2833
2       1.0     3.0  26.0    0.0    0.0   7.9250
3       1.0     1.0  35.0    1.0    0.0  53.1000
4       0.0     3.0  35.0    0.0    0.0   8.0500

In [18]:
df.isnull().sum()# yup1 :))

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

## Em

In [26]:
from ycimpute.imputer import EM

In [27]:
dff=EM().complete(df_arr)

In [28]:
df=pd.DataFrame(dff,columns=vars)

In [29]:
df.head()

   survived  pclass   age  sibsp  parch     fare
0       0.0     3.0  22.0    1.0    0.0   7.2500
1       1.0     1.0  38.0    1.0    0.0  71.2833
2       1.0     3.0  26.0    0.0    0.0   7.9250
3       1.0     1.0  35.0    1.0    0.0  53.1000
4       0.0     3.0  35.0    0.0    0.0   8.0500

In [30]:
df.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64